<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.in28minutes.superstore.dao.CartDao">

    <resultMap type="CartDto" id="result">
        <result column="CARTID" property="cartId"/>
        <result column="PRODUCTID" property="productId"/>
        <result column="USERID" property="userId"/>
        <result column="TOTAL" property="total"/>
    </resultMap>

    <select id="getAllCart" parameterType="QueryGetCartByUserId" resultType="CartDto" resultMap="result" statementType="CALLABLE" >
        {call get_all_cart(#{id})}
    </select>

    <insert id="addProductToCart" statementType="CALLABLE">
        {CALL insert_product_to_cart(
        #{in.pUserId,mode=IN,jdbcType=BIGINT,javaType=java.lang.Long},
        #{in.pProductId,mode=IN,jdbcType=BIGINT,javaType=java.lang.Long},
        #{out.pOut,mode=OUT,jdbcType=VARCHAR,javaType=java.lang.String}
        )}
    </insert>
</mapper>
